<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Red Ball | Yaariscore</title>
  <link rel="stylesheet" href="../redball.css">

</head>
<body>
<canvas id="canvas"></canvas>

<p>
  Use the left, right and up arrow keys to move.
</p>
<br>
<a class="attribute" target="_blank" href="https://github.com/dissimulate/Clarity">Attributation from github</a>

<script  src="../js/redball.js"></script>

</body>
</html>
